
main{
    background-image:url('https://image.freepik.com/free-photo/clapperboard-popcorn-film-stripe-cinema-tickets-wooden-desk_23-2148188189.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main .about{
    background: linear-gradient(
        135deg,
        rgba(73, 155, 234, 0.8) 0%,
        rgba(255, 255, 255, 0.897) 100%
      );
  min-height: 240px;
  border-radius: 20px;
  padding: 28px 18px;
  margin: 0 auto;
  margin-top: 16%;
}
main .about p{
    font-size: 1.2em;
}
@media screen and (max-width:768px){
    main{
        min-height: 95vh;
        background-image:url('https://image.freepik.com/free-photo/clapperboard-popcorn-film-stripe-cinema-tickets-wooden-desk_23-2148188189.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .about p{
        font-size: 1em;
    }
}